<% content_for :title, "Worksurfing - messages" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-sm-offset-3">
     Send a message to
      <%= @user.first_name %>
      <%= form_tag({controller: "messages", action: "create"}, method: :post) do %>
      <%= text_field_tag :subject, "", class: 'form-control' %>
      <%= text_area_tag :body, "", class: 'form-control' %>
      <%= hidden_field_tag(:user, "#{@user.id}") %>
      <%= submit_tag 'Send message', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>



