<% content_for :title, "Worksurfing - Workspaces" %>
  <div class="browsing">
    <div class="row">


      <!--       workspace listing side    -->
      <div class="col-xs-12 col-sm-7" style="padding-right: 0">
        <div class="workspace-listing">
          <div class="workspace-filters filter-container">

            <%= form_tag(workspaces_path, :method => "get", id: "search-form", class: "navbar form-inline") do %>
              <hr>
              <div class="row">
                <div class="col-xs-4">
                  <strong>Ville</strong>
                </div>
                <div class="city col-xs-8">
                  <%= text_field_tag :city, @city, :prompt => "Ville", :class => "form-control"%>
                </div>
              </div>
              <br>
              <hr>
              <div class="row">
                  <div class='col-xs-4'>
                    <strong>Pour combien de personnes ?</strong>
                  </div>
                  <!-- <div class="start_date col-xs-3">
                    <p><%= date_field_tag :start_date, :class => "form-control"%></p>
                  </div>
                  <div class="end_date col-xs-3">
                    <p><%= date_field_tag :end_date, :class => "form-control" %></p>
                  </div> -->
                  <div class="nb_people col-xs-3">
                    <p><%= select_tag :nb_people, options_for_select(1..10), :prompt => "Nombre de personnes", :class => "form-control" %></p>
                  </div>
              </div>
              <br>
              <hr>
              <div class="row">
                <div class="col-xs-4">
                  <strong>Prix moyen</strong>
                </div>
                <div class="price-range col-xs-8">
                  <p><%= number_field_tag :price_per_day, @price_per_day, :class => "slider slider-horizontal"%></p>
                </div>
              </div>
              <br>
              <hr>
              <div class="row">
                <div class="col-xs-3">
                  <strong>Equipements</strong>
                </div>
                <div class="equipements col-xs-3">
                  <p>Imprimante <%= check_box_tag :printer, @printer, false %></p>
                </div>
                <div class="equipements col-xs-3">
                  <p>Salle de bain <%= check_box_tag :bathroom, @bathroom, false %></p>
                </div>
                <div class="equipements col-xs-3">
                  <p>Wifi <%= check_box_tag :wifi, @wifi, false %></p>
                </div>
              </div>
              <br>
              <hr>
              <!-- <div class="row">
                <div class="col-xs-3">
                  <strong>Intérêts</strong>
                </div>
                <div class="interest col-xs-3">
                  <p><%= text_field_tag :interest, nil, :placeholder => "Par exemple 'Design' " %></p>
                </div>
              </div> -->
              <br>
              <div class="search">
                <p> <%= submit_tag "Affiner la recherche", class: "btn btn-primary btn-lg" %></p>
              </div>
            <% end %>

          </div>
          <div class="workspace-cards-listing">
            <div class="wrapper" style="background: #F5F5F5">
              <div class="row">
                  <% @workspaces.each do |workspace| %>
                    <div class="col-xs-12 col-sm-6">
                      <%= render "shared/card", workspace: workspace %>
                    </div>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--       map side    -->
      <div class="hidden-xs col-sm-5 eye-mapper" style="padding-left: 0">
      <div id="map" style="width: 100%; height: 645px;"></div>

      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).on('ready', function() {
            handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function(){
              markers = handler.addMarkers(<%= raw @markers.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
            });
          })
        <% end %>
      <% end %>


        <!--       Need to be fixed (i.e. no scrolling allowed)   -->

      </div>
    </div>
  </div>
