<% content_for :title, "Worksurfing - List your workspace" %>
<%= render 'shared/sub_navbar' %>

<div class="container">

  <h2 class="text-center"><strong>Mes espaces de travail</strong></h2>
  <% @workspaces.each do |workspace| %>
    <div class="row">

      <!-- left column -->
      <div class="col-xs-12 col-md-4">
        <%= render "shared/card", workspace: workspace %>
        <div style="padding:20px;">
        <%= link_to edit_workspace_path , :class =>"btn btn-primary" do %>
            Actualiser
        <% end %>
        <%= link_to "Supprimer", workspace_path(workspace), :class =>"btn btn-primary", :confirm => "Are you sure?", :method => :delete %>

            <% if workspace.listed %>
          <%= link_to workspace_listed_path(workspace), class: "btn btn-success", style: "margin: 20px;" do %>
                    Délister
          <% end %>
        <% else %>
          <%= link_to workspace_unlisted_path(workspace), class: "btn btn-success", style: "margin: 20px;" do %>
                    Lister
          <% end %>
        <% end %>
        </div>
      </div>

      <!-- right column -->
      <div class="col-xs-12 col-md-8">
        <h3>Demandes de réservations</h3>
        <% workspace.bookings.each do |booking| %>

          <div class="parent-flex" id="parent-flex-list">

            <!-- Requester profil -->
            <div class="owner-details text-center">
              <%= link_to user_path(booking.user), {style: "text-decoration: none;"} do %>
                <% if booking.user.picture? %>
                  <%= cl_image_tag booking.user.picture.path, class:"avatar-super-large"%>
                 <% end %>
                <p><%= booking.user.first_name %></p>
            <% end %>
            </div>

            <!-- Booking details -->
            <div class="workplace-headlines">
              <p><strong>Du: </strong><%= booking.start_date.strftime("%d %m %y") %></p>
              <p style="margin-bottom: 10px"><strong>Au: </strong><%= booking.end_date.strftime("%d %m %y") %></p>
              <p><strong>Status: </strong><%= booking.status %></p>
            </div>

            <!-- Validation or rejection buttons -->
            <%= link_to booking_validate_path(booking), class: "btn btn-success", style: "margin: 20px;" do %>
                    <i class="fa fa-check"></i> Accepter
                    <% end %>

            <%= link_to booking_reject_path(booking), class: "btn btn-danger", style: "margin: 20px;" do %>
                    <i class="fa fa-trash"></i> Rejeter
                    <% end %>

          </div>

          <hr>
        <% end %>
      </div>
    </div>
    <hr>
  <% end %>
</div>

<div class="text-center" style="padding-bottom:50px">
<%= link_to new_workspace_path , :class =>"btn btn-primary text-center" do %>
        Rajouter de nouveaux espaces de travail
          <% end %>
</div>

<div class="footer_pusher"></div>
