<% content_for :title, "Worksurfing - add a workspace" %>
<div class="container" style="padding-bottom:50px">
  <div class="row">
    <div class="col-md-5 col-md-offset-4">
      <h1>Créer un workspace</h1>
      <%= simple_form_for @workspace do |f| %>
        <%= f.input :title, label: "Titre de votre annonce"  %>
        <%= f.input :description %>
        <%= f.input :address, label: "Adresse" %>
        <%= f.input :city, label: "Ville" %>
        <%= f.input :nb_people, label: "Nombre de place(s) disponible(s)" %>
        <%= f.input :photos, as: :attachinary %>

       <span> <%= f.input :price_per_day, label: "Prix à la journée" %>
        <%= f.input :price_per_week, label: "Prix à la semaine" %></span>
        <%= f.input :type_of_space, label: "Type d'espace", :collection => @type_of_space %>
        <%= f.input :rules, label: "Règles" %>
        <p>Equipements</p>
        <ul class="list-inline">
          <li><%= f.input :bathroom, label: "Toilettes" %></li>
          <li><%= f.input :printer, label: "Imprimante" %></li>
          <li> <%= f.input :wifi %></li>
         </ul>
        <%= f.button :submit, "Créer", :class => "text-center" %>
      <% end %>
    </div>
  </div>
  <div class="footer_pusher"></div>
</div>
