
<div>
  <div class="banner-workspace">
    <%= cl_image_tag @workspace.photo1 %>
  </div>
     <div class="container-workspace">
      <div class="col-md-8">
      <h1><%= @workspace.title %><br></h1>
      <p><%=@workspace.description%></p>
    </div>
    <div class="col-md-3">
    <h3>Book this workspace</h3>
    <%= simple_form_for [@workspace, Booking.new] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
       </ul>
      <%= f.button :submit , :class => "text-center" %>
     <% end %>
    </div>
  </div>
</div>



