<%= @workspace.title %><br>


<div>
  <div class="banner-workspace">
    <%= cl_image_tag @workspace.photo1, crop: :fill %>
  </div>

   <div class="container">
    <div class="row">
     <div class="col-md-3">
      <div class="card-owner">
      <img class = "avatar">
         <p><%=  %></p>
      </div>
     </div>

     <div class="col-md-9">
        <h4><%=  %></h4>
        <p><%=%></p>
        <i class="fa fa-bed"></i>
        <i class="fa fa-home"></i>
        <i class="fa fa-users"></i>
     </div>
    </div>
  </div>
</div>


