<% content_for :title, "Worksurfing - Your Profile" %>
<%= render 'shared/sub_navbar' %>
<div class="wrapper" style="background: #F5F5F5">

  <div class="container user-container">
    <row>
      <div class="col-md-8 space-sm-4">
          <div class="sidenav">

          </div>

      <div class="col-sm-8 col-md-6 form-container" style="background: white; border: 1px solid #CACCCD;">

        <h1>Mon Profil</h1>

          <p>
            <strong>Prénom:</strong>
            <%= @user.first_name %>
          </p>
          <p>
            <strong>Nom de famille:</strong>
            <%= @user.last_name %>
          </p>
          <p>
            <strong>Description:</strong>
            <%= @user.description %>
          </p>
          <p>
            <strong>Profession:</strong>
            <%= @user.job %>
          </p>

          <div class="form-actions">
            <%= link_to("Modifier mon profil", edit_user_path(@user)) %>
          </div>

       </div>

       <div class="footer_pusher"></div>

      </div>
    </row>
  </div>
</div>
