<% content_for :title, "Worksurfing - Your Profile" %>
<%= render 'shared/sub_navbar' %>
<div class="wrapper" style="background: #F5F5F5">

  <div class="container user-container">
    <row>

      <div class="col-xl-12 col-sm-4">
        <%= cl_image_tag current_user.picture.path, class:"avatar-square"%>
      </div>

      <div class="col-xl-12 col-sm-offset-1 col-sm-7 form-container" style="background: white; border: 1px solid #CACCCD;">

        <h1>Mon Profil</h1>

          <p>
            <strong>Prénom:</strong>
            <%= @user.first_name %>
          </p>
          <p>
            <strong>Nom de famille:</strong>
            <%= @user.last_name %>
          </p>
          <p>
            <strong>Sexe:</strong>
            <%= @user.gender %>
          </p>
          <p>
            <strong>Description:</strong>
            <%= @user.description %>
          </p>
          <p>
            <strong>Profession:</strong>
            <%= @user.job %>
          </p>
          <p>
            <strong>Porfolio:</strong>
            <%= @user.portfolio %>
          </p>
          <div class="form-actions">
            <%= link_to("Modifier mon profil", edit_user_path(@user)) %>
          </div>

       </div>
    </row>

       <div class="footer_pusher"></div>

  </div>
</div>
