<div class="navbar-wagon">

    <div>
      <%= link_to root_path do %>
          <%= image_tag 'blason_paris', class: "navbar-wagon-logo avatar-large", id:"logo" %>
      <% end %>
    </div>

    <div class="navbar-wagon-pusher"></div>

    <div>
      <ul>
        <li>
          <div class="navbar-wagon-item navbar-wagon-link">
            <%= link_to 'Sécurité', '', class: "worksurfing-default-link" %>
          </div>
        </li>
        <li>
          <div class="navbar-wagon-item navbar-wagon-link">
            <%= link_to 'Comment ça marche', '', class: "worksurfing-default-link" %>
          </div>
        </li>
        <li>
          <div class="navbar-wagon-item navbar-wagon-link">
            <%= link_to 'Inscription', new_user_registration_path, class: "worksurfing-default-link" %>
          </div>
        </li>
        <li>
          <div class="navbar-wagon-item navbar-wagon-link">
            <%= link_to 'Connexion', new_user_session_path, class: "worksurfing-default-link" %>
          </div>
        </li>
      </ul>
    </div>

</div>
