<!-- ######## NAVBAR ########### -->
<div class="navbar-wagon">
  <div class="navbar-wagon-container container-fluid ">

    <div>
      <%= image_tag 'blason_paris', class: "navbar-wagon-logo avatar-large", id:"logo" %>
    </div>

    <div class="navbar-wagon-pusher"></div>


    <div class="navbar-wagon-item navbar-wagon-link">
      <%= link_to 'Sécurité', '', class: "btn-transparent" %>
    </div>

    <div class="navbar-wagon-item navbar-wagon-link">
      <%= link_to 'Devenez Workmate', '', class: "btn btn-success" %>
    </div>

    <div class="navbar-wagon-item navbar-wagon-link">
      <%= link_to 'Inscription', '', class: "btn btn-primary" %>
    </div>

    <div class="navbar-wagon-item navbar-wagon-link">
      <%= link_to 'Connexion', '', class: "btn btn-login" %>
    </div>

  </div>
</div>


<!-- ######## BANNER ########### -->
<div class="banner">
  <video autoplay loop poster="polina.jpg" id="bgvid">
    <source src="https://a0.muscache.com/airbnb/static/Croatia-P1-1.mp4" type="video/mp4">
    <source src="https://a0.muscache.com/airbnb/static/Croatia-P1-0.webm" type="video/webm">
  </video>
  <div class="banner-content text-center">
    <div class="banner-text">
      <h1 class="text-jumbo">Travaillez comme à la maison, en mieux</h1>
      <h4>Trouvez un espace de travail, échangez avec des gens cools, près de chez vous</h4>
    </div>
      <%= link_to "Mode d'emploi",'', class: "btn-transparent" %>
  </div>
  <div class="banner-form text-center">
    <form class="navbar form-inline">
      <input type="text" placeholder="Ville" class="form-control input-lg">
      <input type="text" placeholder="Date" class="form-control input-lg">
      <select class="form-control input-lg">
        <option value="1">1 personne</option>
        <option value="2">2 personnes</option>
        <option value="3">3 personnes</option>
        <option value="3">4 personnes</option>
        <option value="3">5 personnes</option>
      </select>
      <%= link_to "Rechercher", '', class: "btn btn-primary btn-lg" %><br>
    </form>
  </div>
</div>

<!-- ######## SECTIONS ########### -->

<section class="mod-explore">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <div class="explore-content">
          <h2 class="explore-content-title">Découvrez de nouvelles ambiances de travail</h2>
          <div class="col-xs-4">
            <div class="testimonial-examples">
              <article class = "text-center">
                <h3 class="testimonial-title">Ils ont travaillé ensemble</h3>
                <div class="col-xs-4">
                  <div class = "testimonial-image">
                    <%= image_tag 'seb.jpg', class: "avatar-super-large"%>
                    <div class="testimonial-name">Sebastien</div>
                  </div>
                  <p class="testimonial-subtitle">Paris, France</p>
                  <p class="testimonial-subtitle">Software developer, Wagon driver</p>
                </div>
                <div class="col-xs-4">
                  <div class = "testimonial-image">
                    <%= image_tag 'seb.jpg', class: "avatar-super-large"%>
                    <div class="testimonial-name">Sebastien</div>
                  </div>
                  <p class="testimonial-subtitle">Paris, France</p>
                  <p class="testimonial-subtitle">Software developer, Wagon driver</p>
                </div>
                <hr class= "short-line">
                <p class="testimonial-text">
                  "Chez Seb c'est incroyable, on rake quand on veux"
                </p>
              </article>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</section>

<section class="mod-meet">
  <div class="meet-content">

  </div>
  <div class="testimonial-examples">

  </div>
</section>

<section class="mod-how-it-works">
  <div class="how-it-works-content">

  </div>
  <div class="mod-cards">

  </div>
</section>

<section class="mod-safety">
  <div class="safety-content">

  </div>
  <div class="mod-cards">

  </div>
</section>

