<!-- ######## NAVBAR ########### -->
<%= render 'shared/navbar_logged_out'%>


<!-- ######## BANNER ########### -->
<div class="banner">
  <video autoplay loop poster="polina.jpg" id="bgvid">
    <source src="https://a0.muscache.com/airbnb/static/Croatia-P1-1.mp4" type="video/mp4">
    <source src="https://a0.muscache.com/airbnb/static/Croatia-P1-0.webm" type="video/webm">
  </video>
  <div class="banner-content text-center">
    <div class="banner-text">
      <h1 class="text-jumbo">Travaillez comme à la maison, en mieux</h1>
      <h4>Trouvez un espace de travail, échangez avec des gens cools, près de chez vous</h4>
    </div>
      <%= link_to "Mode d'emploi",'', class: "btn-transparent" %>
  </div>
  <div class="banner-form text-center">
    <form class="navbar form-inline">
      <input type="text" placeholder="Ville" id="form1" class="form-control input-lg">
      <input type="text" placeholder="Date" id="form2" class="form-control input-lg">
      <select class="form-control input-lg" id="form3">
        <option value="1">1 personne</option>
        <option value="2">2 personnes</option>
        <option value="3">3 personnes</option>
        <option value="3">4 personnes</option>
        <option value="3">5 personnes</option>
      </select>
      <%= link_to "Rechercher", '', class: "btn btn-primary btn-lg" %><br>
    </form>
  </div>
</div>

<!-- ######## SECTIONS ########### -->

<section class="mod-explore">
  <div class="container-explore">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <div class="explore-content">
        <h2 class="explore-content-title">Découvrez de nouvelles ambiances de travail</h2>
        </div>
        <div class="col-xs-4">
          <div class="testimonial-examples-explore">
            <article class = "text-center">
              <div class="row">
                <div class="col-xs-12">
                  <h3 class="testimonial-title">Ils ont travaillé ensemble</h3>
                </div>
              </div>
              <div class="row">
               <div class="col-xs-6">
                <div class="row">
                  <div class="col-xs-12">
                    <div class = "testimonial-image">
                      <%= image_tag 'dark-vador.jpg', class: "avatar-super-large"%>
                      <div class="testimonial-name">Dark V</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p class="testimonial-subtitle">Tatooine, Galaxy far far away</p><br>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p class="testimonial-subtitle">Commandant de la flotte impériale, Oklm</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-6">
                <div class = "testimonial-image">
                  <%= image_tag 'seb.jpg', class: "avatar-super-large"%>
                  <div class="testimonial-name">Sebastien S</div>
                </div>
                <p class="testimonial-subtitle">Paris, France</p><br><br>
                <p class="testimonial-subtitle">Software developer, Wagon driver</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="testimonial-footer">
                  <hr class= "short-line">
                  <p class="testimonial-text">
                    " Chez Seb c'est incroyable, on rake quand on veux "
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="mod-meet">
  <div class="container-meet">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <div class="meet-content">
        <h2 class="meet-content-title">Rencontrez de nouvelles personnes</h2>
        </div>
        <div class="col-xs-4">
          <div class="testimonial-examples-meet">
            <article class = "text-center">
              <div class="row">
                <div class="col-xs-12">
                  <h3 class="testimonial-title">Ils ont travaillé ensemble</h3>
                </div>
              </div>
              <div class="row">
               <div class="col-xs-6">
                <div class="row">
                  <div class="col-xs-12">
                    <div class = "testimonial-image">
                      <%= image_tag 'stan-marsh.jpg', class: "avatar-super-large"%>
                      <div class="testimonial-name">Stan M</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p class="testimonial-subtitle">South Park, Etats-Unis</p><br>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p class="testimonial-subtitle">Enfant de 8 ans</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-6">
                <div class = "testimonial-image">
                  <%= image_tag 'barack.jpg', class: "avatar-super-large"%>
                  <div class="testimonial-name">Barack O</div>
                </div>
                <p class="testimonial-subtitle">DC,Etats-Unis</p><br><br>
                <p class="testimonial-subtitle">Président</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="testimonial-footer">
                  <hr class= "short-line">
                  <p class="testimonial-text">
                    " Stan va te faire vivre des aventures incroyables mec "
                  </p>
                </div>
              </div>
            </div>
          </article>
      </div>
        </div>
    </div>
  </div>
</div>
</section>

<!-- A faire à la fin s'il y à du time -->
<!-- ######## How It Works SECTIONS ###########
<section class="mod-how-it-works">
  <div class="how-it-works-content">

  </div>
  <div class="mod-cards">

  </div>
</section>
######## Safety SECTIONS ###########
<section class="mod-safety">
  <div class="safety-content">

  </div>
  <div class="mod-cards">

  </div>
</section> -->


<!-- ######## Cards ########### -->

<div class="workspace-container">
  <div class="row">
    <div class="col-xs-4">
      <div class="workspace-card">
        <%= render 'shared/card' %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="workspace-card">
        <%= render 'shared/card' %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="workspace-card">
        <%= render 'shared/card' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="workspace-card">
        <%= render 'shared/card' %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="workspace-card">
        <%= render 'shared/card' %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="workspace-card">
        <%= render 'shared/card' %>
      </div>
    </div>
  </div>
</div>


