<h1>Booking of workspace <%= @booking.workspace.title %></h1>
<%= form_tag workspace_booking_payments_path(@booking.workspace, @booking) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@booking.amount) %></span>
    </label>
  </article>


  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="My Booking"
    data-description="Workspace <%= @booking.workspace.title %>"
    data-amount="<%= @booking.amount_cents %>"
    data-currency="EUR"></script>

<% end %>
